/* ----------- RESET ---------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------- LAYOUT ---------------*/

body{
	margin:0;
	padding:0;
	background-color: #303030;
	background-image: url("pattern.png");
}

header{
	background-image: url("tokyo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align:center;
}

#logo{
	font-family: "Titillium Web", Tahoma, Arial, sans-serif;
	font-weight: 700;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

#logo a{
	text-decoration: none;
}

nav{
	background-color: #00B6CE;
	padding:0 auto;
}

nav ul{
	margin:0;
	padding:0;
	text-align: center;
}

nav a{
	display: inline-block;
	color:#fff;
	height:40px;
	line-height: 40px;
	text-decoration: none;
	font-family: "Titillium Web", Tahoma, Arial, sans-serif;
	font-weight: 600;
}

nav a:visited{
	color:#fff;	
}

nav a:hover{
	background-color:#fff;
	color:#00B6CE;
}

#flash{
	margin:0;
	padding:0;
}

#flash li{
	margin:10px 0 0 0;
	display:block;
	padding: 10px 20px;
	color: #333;
	background-color: #ffa;
	border-radius: 10px;
	font-size:.8em;
}

#lol{
	width: 100%;
	background-color: #00B6CE;
	color: #00B6CE;
	font-size: 20px;
	height: 40px;
	text-align: center;
	font-weight: 600;
}

footer{
	height: 200px;
	width: 100%;
	background-color: #222;
	color: #555 !important;
	text-align: center;
	font-size: 14px;
}

footer a{
	color: #555 !important;
	border-bottom: 1px solid #555;
}

.meta{
	font-size: .7em;
	color:#aaa;
	margin:0 0 -1em;
}

.meta-post{
	font-size: .7em;
	color:#aaa;
	margin:-5em 0 4em;
	text-align: center;
}

#pagination{
	height:40px;
	text-align:center;
}

.pagenav{
	font-family: "Titillium Web", Tahoma, Arial, sans-serif;
	font-weight: 600;
}

.pagenumber{
	font-family: "Titillium Web", Tahoma, Arial, sans-serif;
	font-weight: 400;
	color:#777;
}

/* --------------- RESPONSIVE -------------- */

@media (max-width: 700px){
	header{ height:300px; }
	#logo{ font-size:40px; }
	nav li{display:inline;}
	nav a{font-size:18px; padding:0 20px;}
	#content{ width:90%; margin: 50px auto;}
	.pagenav{ font-size:18px; }
	.pagenumber{ font-size: 18px; }
}

@media (min-width: 700px) and (max-width: 1500px) {
	header{height:400px;}
	#logo{font-size:60px;}
	nav li{display:inline;}
	nav a{font-size:24px; padding:0 40px;}
	#content{ width:700px; margin: 80px auto;}
	.pagenav{ font-size: 24px; }
	.pagenumber{ font-size: 24px; }
}

@media (min-width: 1500px){
	header{height:550px;}
	#logo{ font-size:70px; }
	nav li{display:inline;}
	nav a{font-size:28px; padding:0 60px;}
	#content{ width:850px; margin: 100px auto;}
	.pagenav{ font-size: 28px; }
	.pagenumber{ font-size: 28px; }
}
/* -------------- UTILITY CLASSES -------------- */

.whitetext{ color: #fff; }
.bluetext{ color: #00b6ce; }
.centerparent{
	position:relative;
}
.centerchild{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}
.leftchild{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%, -50%);
}
.rightchild{
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%, -50%);
}
.transparentoverlay{ 
	background-color: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* -------------- HTML ELEMENTS -------------- */

body{
	line-height: 1.7em;
	color:#aaa;
	font-family: "Open Sans", "Roboto", Arial, sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

	@media (max-width: 700px){
		body{font-size:16px;}
	}
	@media (min-width: 700px) and (max-width: 1500px) {
		body{font-size:20px;}
	}
	@media (min-width: 1500px){
		body{font-size:24px;}
	}

h1,h2,h3,h4,h5,h6{
	font-family: "Titillium Web", Tahoma, Arial, sans-serif;
	color: #00B6CE;
	font-weight: 600;
}

h1{
	font-size: 3em;
	line-height: 1.5em;
	margin: 1em 0 1em;
	text-align: center;
}

h2{
	font-size: 2em;
	line-height: 1.5em;
	margin: 1em 0 0;
}

h3{
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 1em 0 0;
}

h4,h5,h6{
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 1em 0 0;
	font-style: italic;	
}

p{
	margin: 2em 0 0;
}

a{
	text-decoration: none;
	color: #00B6CE;
}

a:visited{
	color: #00B6CE;
}

a:hover{
	color: #99c2ff;
}

ol{
	list-style-type: decimal;
	margin: 1em 0 0;
	padding: 0 0 0 2.5em;
}

ul{
	list-style-type: square;
	margin: 1em 0 0;
	padding: 0 0 0 2.5em;
}

blockquote {
	border-left: 1em solid #555;
	margin: 1em 10px 0;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: #666;
	content: open-quote;
	font-family: Times, serif;
	font-size: 4.5em;
	line-height: 0.1em;
	margin-right: 0.2em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

pre {
	width:95%;
	overflow: auto;
	font-family: monospace;
	background-color: #404040;
	margin: 1em auto 0;
	padding: .5em 10px;
}

code{
	font-family: monospace;
	background-color: #404040;
	padding: 0 4px;
}

	/*----- need serious improvements to table, like, seriously -----*/

table{
	margin: 2em auto 2em;
	text-align: left;
	line-height: 2em;
}

th{
	font-family: "Titillium Web", Tahoma, Arial, sans-serif;
	font-size: 1.25em;
	font-weight: 600;
	color: #00B6CE;
	border-bottom: 2px solid #00B6CE;
	padding: 0 .5em .25em;
}

td{
	padding: 0 2em 0 .5em;
}

strong{
	font-weight: 600;
}

em{
	font-style: italic;
}
