{% extends "base.html" %}
{% block content %}
	{% if title %}
		<h1>{{ title }}</h1>
	{% endif %}
	<form action="" method="post" name="edit">
		{{ form.hidden_tag() }}
		{% if form.filepath %}
			{{ form.filepath }}
			{% for error in form.errors.filepath %}
				<span style="color: red;">[{{ error}}]</span>
			{% endfor %}
		{% endif %}
		{{ form.editor }}
		{{ form.submit }}
		<button type="button" id="generate">Generate</button>
	</form>
	<div id="target"></div>


	<script src="{{ url_for('static', filename='moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='showdown.min.js') }}"></script>

	<script type="text/javascript">
var generatebutton = document.getElementById("generate");
generatebutton.onclick = function(){
	var filepath = document.getElementById("filepath");
	var textarea = document.getElementById("editor");
	filepath.value = "journal/"+moment().format("Y.MM.DD")+".md";
	textarea.value = "---\nTitle\: \nDate\: "+moment().format("Y/MM/DD")+"\nTags\: \n---\n\n"+moment().format("HH:mmA")+"\n\n";
	textarea.onkeyup();
}
	</script>

	<script type="text/javascript">
	f = function() {
		var textarea = document.getElementById("editor");
		var preview = document.getElementById("target");
		var converter = new showdown.Converter();
		textarea.onkeyup = function() {
			text = textarea.value;
			trimmedtext = text.substring(text.lastIndexOf("---") + 4);
			preview.innerHTML = converter.makeHtml(trimmedtext);
		}
		textarea.onkeyup.call(textarea);
	}
	if (document.readyState === 'complete')
		f();
	else if (window.addEventListener)
		window.addEventListener("load", f, false);
	else if (window.attachEvent)
		window.attachEvent("onload", f);
	else
		f();
	</script>

	<script type="text/javascript">
	var observe;
	if (window.attachEvent) {
		observe = function (element, event, handler) {
			element.attachEvent('on'+event, handler);
		};
	}
	else {
		observe = function (element, event, handler) {
			element.addEventListener(event, handler, false);
		};
	}
	function init () {
		var text = document.getElementById('editor');
		function resize () {
			text.style.height = 'auto';
			text.style.height = text.scrollHeight+'px';
		}
		/* 0-timeout to get the already changed text */
		function delayedResize () {
			window.setTimeout(resize, 0);
		}
		observe(text, 'change',  resize);
		observe(text, 'cut',     delayedResize);
		observe(text, 'paste',   delayedResize);
		observe(text, 'drop',    delayedResize);
		observe(text, 'keyup', delayedResize);

		text.focus();
		text.select();
		resize();
	}

	init();
	</script>
{% endblock %}
