<nav>
	<ul>
		<li><a href="/">home <i class="fa fa-home fa-fw" aria-hidden="true"></i></a></li>
		<li><a href="/projects">projects <i class="fa fa-code fa-fw" aria-hidden="true"></i></a></li>
		<li><a href="/thoughts">thoughts <i class="fa fa-comment fa-fw" aria-hidden="true"></i></a></li>
		{% if current_user.is_authenticated %}
			<li></li>
			<li><a href="/journal">journal</a></li>
			<li><a href="http://hack.anythingbut.me">hack</a></li>
			<li><a href={{ url_for('edit') }}>edit</a></li>
			<li><a href={{ url_for('deauth') }}>logout</a></li>
		{% endif %}
		<li></li>
	</ul>
</nav>

<div id="social">
	<a href="https://www.facebook.com/ferb96" title="facebook" target="_blank"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
	<a href="https://twitter.com/duy96vn" title="twitter" target="_blank"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
	<a href="https://www.linkedin.com/in/duy96vn/" title="linkedin" target="_blank"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
	<a href="https://github.com/ferb96" title="github" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
	<a href="{{ url_for('static',filename='resume.pdf') }}" title="resume" target="_blank"><i class="fa fa-file fa-fw" aria-hidden="true"></i></a>
</div>

<script src="{{ url_for('static',filename='tippy.all.min.js') }}"></script>
<script>
tippy('[title]',{
	theme: 'light',
	duration: 200,
	arrow: true
});
</script>
